@import "tailwindcss";

@layer base{
  @font-face {
    font-family: 'iransans';
    src: url('/fonts/AIranianSans.ttf') format('truetype');
  }
  @font-face {
    font-family: 'dirooz';
    src: url('/fonts/Dirooz.ttf') format('truetype');
  }
  @font-face {
    font-family: 'roya';
    src: url('/fonts/Far_RoyaBd.ttf') format('truetype');
  }
  @font-face {
    font-family: 'lale';
    src: url('/fonts/Lalezar-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'monoton';
    src: url('/fonts/Monoton/Monoton-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'bodoni';
    src: url("/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf");
  }
}

@theme {
  --color-1: #03001C;
  --color-2: #FEF3E2;
  --font-iransans: 'iransans', sans-serif;
  --font-dirooz: 'dirooz', sans-serif;
  --font-roya: 'roya', sans-serif;
  --font-lale: 'lale', sans-serif;
  --font-monoton: 'monoton', sans-serif;
  --font-bodoni: 'bodoni', sans-serif;
}

 
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #03001C;
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
    #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,11%   {background-position:35% 35%}
  14%,36%  {background-position:65% 35%}
  38%,61%  {background-position:65% 65%}
  64%,86%  {background-position:35% 65%}
  88%,100% {background-position:35% 35%}
}